<nav class="d-flex w-100 p-3 container justify-content-between">
    <h1><img src="https://doabooks.org/static-assets/images/layout/doablogo-banner.png" alt=""></h1>
    <ul class="d-flex gap-5 list-unstyled">
        <li><a class="text-decoration-none" href="/">Home</a></li>
        <li><a class="text-decoration-none" href="/signup">SignUp</a></li>
        <li><a class="text-decoration-none" href="/signin">SignIn</a></li>
        <li><a class="text-decoration-none" href="/signin">SignOut</a></li>
    </ul>
</nav>
